{# {% extends 'base.html.twig' %}

{% block title %}Hello SearchIngredientController!{% endblock %}

{% block body %}
    <h1>Which ingredient would you like to cook?</h1>

    {{form_start(form,{'attr':{'id':'recherche-form'}})}}
        {{ form_row(form.nom) }}
        <button type="submit">Search!</button>
    {{ form_end(form) }}
<div id="div_resultats">hhhhhh</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


{# <script>
    const form=document.getElementById('recherche-form');
    form.addEventListener('input', function(event){
        event.preventDefault();
        let divResultats=document.getElementById("div_resultats");
        console.log ("appel recherche...");
        const formData=new FormData(form);

        divResultats.innerHTML="Recherche en cours..";

        axios.post('/search/ingredient', formData)
        //
        .then(reponse=>{
            dump("tt");
            // console.log(response.data);
            
            // divResultats.innerHTML="";
            // let arrayRecipe=response.data;
            // arrayRecipe.foreach(function (recipe){
            //     divResultats.innerHTML+="<p><b>Recipe:</b>" + recipe.titre + "</p>";
            // })
        })
        .catch(error=>{
            console.error(error);
        })
    })
</script> #}
{% endblock %} #}
