{% extends 'base.html.twig' %}

{% block title %}Hello SearchIngredientController!{% endblock %}

{% block body %}
    <h1>Which ingredient would you like to cook?</h1>

    {{form_start(searchIngForm, {'id':'search-form'})}}
        {{ form_widget(searchIngForm) }}
        <button type="submit">Search!</button>

    {{form_end(searchIngForm)}}


{% endblock %}
