{% extends 'base.html.twig' %}

{% block title %}Hello SearchIngredientController!{% endblock %}

{% block body %}
    <h1>Which ingredient would you like to cook?</h1>

    {{form_start(searchIngForm,{'attr': {'id':'search-form'}})}}
        {{ form_row(searchIngForm.nom) }}
        <button type="submit">Search!</button>

    {{ form_end(searchIngForm, {render_rest: false}) }}
<div id="div_resultats"></div>
{% endblock %}
