{% extends 'base.html.twig' %}

{% block title %}Hello FormSearchIngredientFiltreAjaxController!{% endblock %}

{% block body %}
<h1>Which ingredient would you like to cook?</h1>

    {{form_start(form,{'attr':{'id':'recherche-form'}})}}
        {{ form_row(form.nom) }}
        <button type="submit">Search!</button>
    {{ form_end(form) }}
<div id="div_resultats"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    const form=document.getElementById('recherche-form');
    form.addEventListener('click', function(event){
        event.preventDefault();
        let divResultats=document.getElementById("div_resultats");
        console.log ("appel recherche...");
        const formData=new FormData(form);
        divResultats.innerHTML="Recherche en cours..";

        axios.post('/form/search/ingredient/filtre/ajax', formData)
        .then(reponse=>{
            //alert("gg");
            console.log(response.data);
            
            divResultats.innerHTML="";
            let arrayRecipe=response.data;
                        arrayRecipe.forEach (function (recipe){
                divResultats.innerHTML+="<p><b>Recipe:</b>" + recipe.titre + "</p>";
                divResultats.innerHTML += "<hr>";
            })
        })
        .catch(error=>{
            console.error(error);
        })
    })
</script>


{% endblock %}
