{% extends 'base.html.twig' %}

{% block title %}Hello FormSearchIngredientFiltreAjaxController!{% endblock %}

{% block body %}
<h1>Which ingredient would you like to cook?</h1>

    {{form_start(form,{'attr':{'id':'recherche-form'}})}}
        {{ form_row(form.nom) }}
        <button id="search" type="submit">Search!</button>
    {{ form_end(form) }}
<div id="div_resultats">hhhhhh</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
document.getElementById('search').addEventListener('click', function(event) {
    event.preventDefault();
    alert("jjj");
    // obtenir le div pour afficher les résultats

    axios({
        // on prend la route generee avec path du data-route du form
        url: '/search/ingredient',
        method: 'POST',
        headers: {
            'Content-Type': 'multipart/form-data'
        },
        data: new FormData(document.getElementById('recherche-form'))
    }).then(function (response) {

alert("je suis dans le then");


        // parcourir l'array d'objets reçu (car le JSON a été déjà parsé par AXIOS)
        let arrayIn = response.data;
        //let myObj=JSON.Parse(arrayIn);
        console.log(arrayIn);
        //console.log(myObj);
        divResultat=document.getElementById("div_resultats");
        divResultat.innerHTML="<p> Titre de la 1ère recette est: " + arrayIn[0]['titre'];

        })
        .catch(error=>{
            console.error(error);
        })
    })
</script>


{% endblock %}
