{% extends 'base.html.twig' %}

{% block title %}Liste de courses{% endblock %}

{% block body %}
{% include 'navigation.html.twig' %}
<h1> Liste de courses</h1> 

<ul>
    {% for liste in listeCourse %}
        {% for ingr in liste %}
        <li> {{ingr.nom}}: {{ingr.quantiteTotal}}</li>
        {% endfor %}
    {% endfor %}
</ul>



{% endblock %}
