{% extends "base.html.twig" %}
{% block body %}
{% include 'navigation.html.twig' %}
<h1>Vos favoris</h1>

<ul>
    {% for fav in favoris %}
        <li><a href={{ path ('show_recipe', { id: fav.id } )}}>{{fav.titre}}</a></li>
    {% endfor %}
</ul>
{% endblock %}