{% extends 'base.html.twig' %}
{% block title %}Ma liste de courses{% endblock %}

{% block body %}
{% include 'navigation.html.twig' %}


<h1>Voici ma liste de courses</h1>
<div id="div_resultatsCourse">Hello</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
let boutonsClicles=[];

// Fonction appelée lorsqu'un bouton est cliqué
function boutonClique(id) {
  // Ajouter l'ID du bouton dans la table
    boutonsClicles.push(id);
}

// Fonction pour écouter les clics sur les boutons de la page web
function ecouterClics() {
    var boutons = document.getElementsByClassName("grocery_list");
    for (var i = 0; i < boutons.length; i++) {
    boutons[i].addEventListener("click", function() {
        var id = this.id;
        boutonClique(id);
    });
    }
}

// Appeler la fonction pour écouter les clics lorsque la page est chargée
window.addEventListener("load", ecouterClics);
</script>

{% endblock %}
